spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/carpost
    password: 1
    username: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: none

#Файл конфигурации приложения